
body{
    background: linear-gradient(to left, #C61FCF, #FF993B);
    
}

h1{
    font-family: 'Silkscreen', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

img{
  
    height: 100px;
    width: 100px;
}

#fork{
    text-align: center;
    display: grid;
    align-content: 1fr 1fr 1fr 1fr;

}

p{
    text-align: center;
    font-size: 25px;
}

@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }
