*{
    box-sizing: border-box;
}

.container{
    font-family: 'Bebas Neue', cursive;
    color: #170A1C;
    background-color: #BDBF09;
    border: 2px solid #170A1C;
    width: 100%;
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    
    
}

.box-wrapper{
    display: flex;
    align-items: center;
   
}

img{
    width: 100%;
    max-width: 150px;
}

.small-box{

    border: 1px solid #170A1C;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 25px;
    padding: 5px;
}

.small-box:hover{
    background-color: rgba(220,220,220,10);
    transition: 30ms;
}

h1{
    font-family: 'Bebas Neue', cursive;
    margin-top: 50px;
}

body{
    background-color: #507255;
}


.chamberpic{
   display: flex;
   justify-content: center;
   align-items: center;
}

.persona-one img{
    height: 200px;
    width: 300px;
}