@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav__container {
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
}




.nav__container--title {
    border: 1px solid black;
    text-align: center;
    padding: 8px 12px;
    border-radius: 30px;
}

.nav__container {
    display: flex;
    flex-direction: column-reverse;
}

.box-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}


.nav__logo {
    width: 100px;
    height: 100px;
}

ul {
    display: none;
}

.nav__title--h {
    padding: 12px;
    line-height: 17px;
}


i:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

/*main*/
.item {
    display: flex;
    padding: 8px 12px;
    border: 1px solid black;
    min-height: 100px;
    border-radius: 8px;
    background-color: rgb(237, 235, 235);
    margin: 10px 0 0;
}


.weather {
    background-color: rgb(168, 197, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather h2{
    color: rgb(255, 254, 254);
    text-shadow: 4px 4px #3b3b3b;
}

#icon-src{
    display: none;
}

.spotlight {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    margin-left: 0;

}

.join {
    visibility: hidden;
    display: none;
}
.spotlight-3{
    visibility: hidden;
    display: none;
}

/*
FOOTER
*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: cornflowerblue;
    color: white;
    padding-top: 10px;
}

.footer-container>* {
    font-size: 20px;
    line-height: 35px;
}




/*    DISCOVER  */

.discover_header {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discover_main {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
 
picture img {
    width: 300px;
    height: 400px;
}

h1, h2 {
    font-family: 'Staatliches', cursive;
}

h3, h4 {
    font-family: 'Amiri Quran', serif;

}



/* Join  */


label.myInput {
    display: block;
    padding-top: 1rem;
}

label.myInput input, label.myInput textarea {
    display: block;
    font-size: 1.2rem;
    padding: .5rem ;
    width: 20rem;
    max-width: 20rem;
}

label.myRadio{
    display: block;
}

label.myRadio input{
    margin-right: .5rem;
    font-size: 1.3rem;

}

.mySubmit {
    border-color: black;
    background-color: pink;
    color: black;
}

/*
label.myInput input:required{
    border-color: red;

}
*/

/* THANK YOU PAGE   */



/* DISCOVER PAGE   */


.join__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 20px;
}

.mySubmit{
    background-color: cornflowerblue;
    padding: 6px;
    margin-top: 8px;
    border: 1px solid black;
}

/*    DIRECTORY     */
  

            /*      DIRECTORY CARD VIEW    */


#listview {
    display: none;
}

 #bizheader{
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}


#cardview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cardview div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
 
}


.listAndGrid i{
    font-size: 3rem;
}



/*         DIRECTORY LIST VIEW    */
.center {
    margin-left: auto;
    margin-right: auto;
    font-size: 14PX;

    }

    th, td {
        text-align: center;
        padding: 15px;
    }

    /*section#listview table{
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }
    */

    section#listview table tr:nth-child(odd){
        background-color: rgb(173, 190, 221);
      
    }

    section#listview th{
        display: none;
    }

    section#listview table td{
        display: flex;
        flex-direction: column;
        border: none;
    }