@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

a:visited{
    text-decoration: none;
   
}

#navbar a:visited{
    color: white;
}




.nav__container {
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
}


.main-container{
    margin: 10px;
}


.nav__container--title {
    border: 1px solid black;
    text-align: center;
    padding: 8px 12px;
    border-radius: 30px;
}

.nav__container {
    display: flex;
    flex-direction: column-reverse;
}

.box-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}


.nav__logo {
    width: 100px;
    height: 100px;
}

.nav__logo:hover{
    cursor: pointer;
}

 .hero-image{
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.spotlight-box img{
    width: 100%;
    height: auto;
    border-radius: 7px;

}

.spotlight-box h2{
    visibility: hidden;
}

.nav__title--h {
    padding: 12px;
    line-height: 17px;
}


i:hover {
    cursor: pointer;
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

/*main*/
.item {
    display: flex;
    padding: 8px 12px;
    border: 1px solid black;
    min-height: 100px;
    border-radius: 8px;
    background-color: rgb(237, 235, 235);
    margin: 10px 0 0;
}

/*  WEATHER PART   */
.weather {
    background-color: rgb(168, 197, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.temperature{
    font-weight: 700;
}

#figcaption{
    margin-bottom: 3px;
}

.wind{
    position: relative;
    top: 6px;
}
.weather h2{
    color: rgb(255, 254, 254);
    text-shadow: 4px 4px #3b3b3b;
}

#weathericon{
    height: 35px;
    width: 35px;
}


#icon-src{
    display: none;
}

.spotlight {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    margin-left: 0;

}

.join {
    visibility: hidden;
    display: none;
}
.spotlight-3{
    visibility: hidden;
    display: none;
}

/*                  EVENT    */
.event{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.event .item{
    padding-bottom: 20px;
}

.event h4{
    font-size: 20px;
    margin-top: 0;
}

/*              REALNEWS     */
.realnews{
    text-align: center;
}
.realnews{
    background-image: url(/wdd230/chamber/images/—Pngtree—small\ tiny\ white\ snow\ dust_6520232.png);
}

.event{
    background-image: url(/wdd230/chamber/images/—Pngtree—small\ tiny\ white\ snow\ dust_6520232.png);
}


/*
FOOTER
*/

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
}

.footer-container>* {
    font-size: 20px;
    line-height: 35px;
}

footer div{
    text-decoration: none;
}

footer div{
    line-height: 29px;
}

#locationMapIcon{
    max-width: 25px;
    max-height: 25px;
    transition: .4s ease;
}

#locationMapIcon:hover{
    opacity: .2;
    cursor: pointer;
}






/*    DISCOVER  */

.discover_header {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discover_main {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
 
picture img {
    width: 300px;
    height: 400px;
}

h1, h2 {
    font-family: 'Staatliches', cursive;
}

h3, h4 {
    font-family: 'Amiri Quran', serif;

}



/* Join  */


label.myInput {
    display: block;
    padding-top: 1rem;
}

label.myInput input, label.myInput textarea {
    display: block;
    font-size: 1.2rem;
    padding: .5rem ;
    width: 20rem;
    max-width: 20rem;
}

label.myRadio{
    display: block;
}

label.myRadio input{
    margin-right: .5rem;
    font-size: 1.3rem;

}

.mySubmit {
    border-color: black;
    background-color: pink;
    color: black;
}

/*
label.myInput input:required{
    border-color: red;

}
*/

/* THANK YOU PAGE   */



/* DISCOVER PAGE   */


.join__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 20px;
}

.mySubmit{
    background-color: rgb(168, 197, 255);
    padding: 6px;
    margin-top: 8px;
    border: 1px solid black;
}

/*    DIRECTORY     */
  

            /*      DIRECTORY CARD VIEW    */


#listview {
    display: none;
}

 #bizheader{
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}


#cardview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cardview div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
 
}


.listAndGrid i{
    font-size: 3rem;
}



/*         DIRECTORY LIST VIEW    */
.center {
    margin-left: auto;
    margin-right: auto;
    font-size: 14PX;

    }

    th, td {
        text-align: center;
        padding: 15px;
    }

    /*section#listview table{
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }
    */

    section#listview table tr:nth-child(odd){
        background-color: rgb(173, 190, 221);
      
    }

    section#listview th{
        display: none;
    }

    section#listview table td{
        display: flex;
        flex-direction: column;
        border: none;
    }


    /* HAMBURGER   */

    .box ul{
        display: none;
        list-style-type: none;
    }

   
    #hamburger{
        display: block;
    }

     #hamburger{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid lightgray;
        transition: .3s ease;

    }

    #hamburger:hover{
        opacity: .2;
        cursor: pointer;
    }


    .navbar li {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }

      
      .directorboard{
        width: 250px;
        height: 300px;
    }

    .director-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px;
    }

    .director-container figcaption{
        font-size: 16px;
        text-align: center;
        
        
    }

    .director-pictures{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }

    .director-pictures img{
        box-shadow: 5px 10px 18px #888888;
        border: 1px solid rgb(111, 111, 111);
    }

   
