@media (min-width: 992px) {

    @import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Staatliches&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

    i {
        font-size: 3em;
        margin-right: 10px;
    }


    .nav__logo {
        width: 240px;
        height: 240px;
    }

    .nav__logo:hover{
        cursor: pointer;

    }



    ul li .active{
        background-color: rgb(168, 197, 255);
        color: black;
        padding: 5px 10px;

    }
    



    .nav__title--h {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    .nav__title--h  h2 {
        font-size: 60px;
        line-height: 40px;
        text-align: center;
    }

    .footer-container>* {
        font-size: 25px;
        line-height: 25px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    #locationMapIcon{
        max-width: 50px;
        max-height: 50px;
    }

 

    .box a{
        text-decoration: none;
        transition: .7s ease;
    }

    .box a:hover{
        
        background-color: rgb(114, 132, 175);
        font-weight: 500;
        text-decoration: none;
        color: #000;
    }

  

    .box ul {
        display: flex;
        visibility: visible;
        list-style: none;
        gap: 10px;
        font-size: 28px;
        margin: 0 20px;
    }

    .date {
        font-weight: 500;
    }

    /*Main*/

    .main-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 25px;
        max-height: 700px;
    }
    .main-container :nth-child(1) {
        order: 2;
    }

    .main-container :nth-child(2) {
        order: 1;
    }

    .main-container :nth-child(3) {
        order: 3;
    }

    .main-container :nth-child(4) {
        order: 4;
    }
    .item{
        margin: 0;
        padding: 0;
    }
    .hero{
        display: flex;
        width: 50%;
        height: 415px;
        margin: 10px 0;
    }
    
    .hero img{
        width: 100%;
        border-radius: 7px;
    }

    .realnews img{
        width: 300px;
        align-items: center;
    }

    .realnews{
        background-image: url(/wdd230/chamber/images/—Pngtree—christmas\ snowflake\ snow\ falling_5590479.png);
    }

    .realnews{
        display: flex;
        width: 50%;
        margin-top: 0 0 10px;
        height: 200px;
    }

    .event-weather-join{
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0;
        height: 800px;
    }
    .join {
        margin: 10px 0;
        width: 100%;
    }


    .join {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    .join h4{
        line-height: 25px;
    }

    .join button{
        padding: 10px;
        border-radius: 7px;
        border: 2px solid rgb(93, 93, 93);
        transition: .5s ease;
        font-weight: 600;
        font-size: 20px;
        background-color: rgb(168, 197, 255);
        color: rgb(255, 254, 254);
        text-shadow: 2px 2px #3b3b3b;
        
    }

    .join button:hover{
        opacity: 0.3;
        cursor: pointer;
    }


    .event-weather{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .event{
        width: 100%;
        margin: 10px 0 0;
    }

    .event{
        background-image: url(/wdd230/chamber/images/—Pngtree—small\ tiny\ white\ snow\ dust_6520232.png);
    }



/*     WEATHER   */

    .weather{
        width: 100%;
        margin: 0;
        background-color: rgb(168, 197, 255);

    }

   
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wind{
        font-size: 20px;
        position: relative;
        top: 0px;
    }

 
    #weathericon{
        width: 50px;
        height: 50px;
        margin: 0;
        position: relative;
        bottom: 45px;
    }

    #figcaption{
        position: relative;
        bottom: 65px;
        font-size: 20px;
        font-weight: 700;
    }

    .figure hr{
        border: 1px solid black;
        height: 1px;
        width: 200px;
        position: relative;
        bottom: 55px;
    }

    .weather h2{
        font-size: 27px;
        color: rgb(255, 254, 254);
        text-shadow: 4px 4px #3b3b3b;
        margin-bottom: 40px;
    }

    .weather .temperature{
        font-size: 20px;
        position: relative;
        bottom: 35px;
    }

    #icon-src{
        display: none;
    }

    .spotlight-box h2{
        visibility: visible;
    }
    
    .spotlight{
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 627px;
        margin: 10px 10px 0;
        gap: 0;
    }
    .spotlight-box{
        width: 92%;
        height: 20%;
        margin: 0 auto;
        padding-top: 10px;
    }
    .spotlight-3{
        width: 92%;
        visibility: visible;
        display: block;
        height: 20%;
        padding: 0;
        margin: 0 auto;
    }
    .spotlight:nth-child(1) {
        order: 5;
        background-color: pink;
    }
    .spotlight:nth-child(2) {
        order: 6;
    }
    .spotlight:nth-child(3) {
        order: 7;
    }



    /* SPOTLIGHT PIC DESIGN  */

    .spotlight-box img{
        width: 300px;
        height: 180px;
        margin: 0 auto;
        border: 1px solid rgb(93, 93, 93);
        border-radius: 7px;
    }

    .spotlight-3 img{
        position: relative;
        left: 25px;
        top: 10px;
    }

    .spotlight{
        position: relative;
        font-size: 20px;
    }

    .absolute-1{
        position: absolute;
        top: 155px;
        left: 20px; 
         
        padding: 5px;
        background-color: white;
        border: 1px solid cornflowerblue;
        box-shadow: 5px 10px 18px #484848;
    }

    .absolute-2{
        position: absolute;
        top: 360px;
        left: 20px; 
         
        padding: 5px;
        background-color: white;
        border: 1px solid cornflowerblue;
        box-shadow: 5px 10px 18px #484848;
    }

    .absolute-3{
        position: absolute;
        top: 570px;
        left: 20px; 
         
        padding: 5px;
        background-color: white;
        border: 1px solid cornflowerblue;
        box-shadow: 5px 10px 18px #484848;
    }


    /*NEWS ITEM STYLES  */

    .realnews{
        position: relative;
        font-size: 20px;
    }
    .realnews h1,h2{
        font-size: 20px;
    }

    .realnews img{
        width: 100%;
    }

    .realnews p{
        padding-top: 20px;
    }
    .realnews-absolute{
        position: relative;
    }

   .realnews-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }



    .event {
    font-size: 20px;
}

   .event{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
   }

   .event h4{
    font-size: 29px;
    margin-top: 0;
   }

    .discover-image {
 
        opacity: 1;
        display: block;
       
        transition: .5s ease;
        backface-visibility: hidden;
        
      }
    
      .cont:hover .discover-image {
        opacity: 0.3;
        cursor: pointer;
        
    
      }
    
      picture img {
        width: 600px;
        height: 700px;
    }

    h4{
        margin: 8px;
    }

    .main-container {
        margin-left: 20px;
    }


    h1, h2 {
        font-family: 'Staatliches', cursive;
    }
    
    h3, h4, h6 {
        font-family: 'Amiri Quran', serif;
    
    }

    p { 
        font-family: 'Roboto Mono', monospace;
    }

/*      THANKYOU PAGE */

.thankyou__content{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

    /*   JOIN   */

    .join__section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3rem;
    }

    .mySubmit{
        background-color: rgb(168, 197, 255);
        padding: 6px;
        margin-top: 8px;
        border: 1px solid black;
    }
        




    /*    DIRECTORY   */

     #bizheader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
 
    #listview {
        display: none;
    }

    .center {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    }

    table, tr, th, td, caption {
        border: .2px solid #a5afb6;
        
      }

      th, td {
        text-align: center;
        padding: 15px;
    }
    
    table {
        border-collapse: collapse;
        box-shadow: 10px 10px 5px #888;
    }

     
    #cardview{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        margin-left: 30px;
        margin-right: 30px;
      }
      
      #cardview div{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid #D3D3D3;
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 10px 20px;
          border-radius: 16px;
          
      }
    
    /*  HAMBURGER   */
    #hamburger{
        display: none;
    }
 


    .directorboard{
        width: 320px;
        height: 370px;
    }

    .director-container{
        display: flex;
        justify-content: space-around;
        padding: 15px;
        font-family: 'Roboto Mono', monospace;

    }

    .director-container figcaption{
        font-size: 20px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
    }

    .director-container h1{
        margin-top: 50px;
        font-size: 30px;
        
    }
    

    .director-pictures{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%
    }




   
}