@media (min-width: 768px) {

    @import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Staatliches&display=swap');

    .nav__logo {
        width: 180px;
        height: 180px;
    }

    .nav__logo:hover{
        cursor: pointer;
    }
    



    .nav__title--h {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }



    i {
        font-size: 2em;
        margin-right: 10px;
    }

    .nav__container--title {
        font-size: 1.5em;
    }


  

    /*main*/




    .main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 20px;
    }
    .item {
        min-height: 200px;
    }
    .main-container :nth-child(1) {
        order: 1;
    }

    .main-container :nth-child(2) {
        order: 4;
    }

    .main-container :nth-child(3) {
        order: 2;
    }

    .main-container :nth-child(4) {
        order: 3;
    }


    .spotlight {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    .spotlight-box{
        width: 50%;
    }

    .event-weather-join{
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px;
    }
    .join {
        margin: 0;
    visibility: visible;
    display: block;
    }


    /*  WEATHER    */
    .event-weather{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
    }
    .event{
        width: 60%;
        margin: 0;
    }
    .weather{
        width: 40%;
        margin: 0;
    }

    .temperature{
        font-size: 25px;
        margin-top: 10px;
    }


    .weather {
        background-color: rgb(168, 197, 255);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #icon-src{
        display: none;
    }

    .weather h2{
        color: rgb(255, 254, 254);
        text-shadow: 4px 4px #3b3b3b;
    }

  #weathericon{
    width: 70px;
    height: 70px;
  }





    /*footer*/
    .footer-container>* {
        font-size: 20px;
    }


    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }



















    .discover-image {
      
        opacity: 1;
        display: block;
      
       
        transition: .5s ease;
        backface-visibility: hidden;
        
      }
    
      .cont:hover .discover-image {
        opacity: 0.3;
        cursor: pointer;
        
    
      }
    
  
    picture img {
        width: 450px;
        height: 550px;
    }

/* FONTS AND STUFF */
    h1, h2 {
        font-family: 'Staatliches', cursive;
    }
    
    h3, h4 {
        font-family: 'Amiri Quran', serif;
    
    }


    /*   THANK YOU PAGE  */




    /*JOIN PAGE   */

    .mySubmit{
        background-color: cornflowerblue;
        padding: 6px;
        margin-top: 8px;
        border: 1px solid black;
    }
    
    .join__section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3rem;
    }
        



    /*      BUSINESS DIRECTORY    */

    #listview {
        display: none;
    }
    
     #bizheader{
        text-align: center;
        font-size: 22px;
        margin-top: 15px;
    }
    
    
    #cardview{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    #cardview div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #D3D3D3;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px 20px;
        border-radius: 16px;
        
    }
    
    
    .listAndGrid i{
        font-size: 3rem;
    }
    
    
    
    /*         DIRECTORY LIST VIEW    */
    .center {
        margin-left: auto;
        margin-right: auto;
        font-size: 14PX;
    
        }
    
        th, td {
            text-align: center;
            padding: 15px;
        }
    
        section#listview table{
            border-collapse: collapse;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        section#listview table tr:nth-child(odd){
            background-color: rgb(212, 218, 228);
          
        }

        section#listview table tr td{
            display: revert;  /* or display : table-cell */
        }

               
    .hero-image{
        width: 100%;
        border-radius: 7px;
    }
   
    

}