@media (min-width: 992px) {
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Playfair+Display:wght@400;600;700&display=swap');

   #header{
    height: 100px;
    background-color: #4b5842;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }



   .header--navigation__list{
    list-style: none;
    display: flex;
   
   }




   /* MAIN */
   #main{
    height: calc(100vh - 100px);
   }
  
   



   /*   FOOTER   */

   #footer{
    height: 200px;
    background-color: #4b5842;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }



   .location{
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
   }

   #footer li{
    line-height: 30px;
    font-size: 22px;
   }

   #footer ul{
    list-style: none;
   }

   .footer--icon{
    font-size: 30px;
    padding: 30px;
    margin: 5px 10px;
   }


   i{
    transition: .4s ease;
   }

   i:hover{
    opacity: .2;
    cursor: pointer;
   }

   .location{
    transition: .4s ease;
   }

   .location:hover{
    opacity: .2;
    cursor: pointer;
   }

   





}