@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
}
.nav__container {
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
}




.nav__container--title {
    border: 1px solid black;
    text-align: center;
    padding: 8px 12px;
    border-radius: 30px;
}

.nav__container {
    display: flex;
    flex-direction: column-reverse;
}

.box-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}


.nav__logo {
    width: 100px;
    height: 100px;
}

ul {
    display: none;
}

.nav__title--h {
    padding: 12px;
    line-height: 17px;
}


i:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}



/*
MAIN

*/


.main-container > * {
    display: flex;
    padding: 8px 12px;
    border: 1px solid black;
    min-height: 100px;
    border-radius: 8px;
    background-color: rgb(237, 235, 235);


}

.spotlight-wrap {
    flex-direction: column;
    border: 1px solid rgb(164, 164, 164);
    background-color: rgb(237, 235, 235);
}

.spotlight {
    padding: 10px;
    box-sizing: border-box;
    width: 296px;
    height: 118px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;

}
.main-container {
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.widget_weather_wrapper{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
}

.event {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(237, 235, 235);
    width: 296px;
    height: 118px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
}



 .join {
    visibility: hidden;
}

.spotlight-3 {
    display: none;
}

/*


FOOTER

*/

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: cornflowerblue;
    color: white;
    padding-top: 10px;
}

h1, h2 {
    font-family: 'Staatliches', cursive;
}

h3, h4 {
    font-family: 'Amiri Quran', serif;

}

/*    

PART OF "DISCOVER"

*/

header {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
picture img {
    width: 300px;
    height: 400px;
}
