@media (min-width: 768px) {

    @import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Staatliches&display=swap');

    .join{
        visibility: visible;
    }
   

    .main-container {
       display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }

    .main-container :nth-child(1) {order: 1;}
    .main-container :nth-child(2) {order: 6;}
    .main-container :nth-child(3) {order: 7;}
    .main-container :nth-child(4) {order: 2;}
    .main-container :nth-child(5) {order: 3;}
    .main-container :nth-child(6) {order: 4;}
    .main-container :nth-child(7) {order: 6;}

    .spotlight-wrap {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }



    .nav__logo {
        width: 180px;
        height: 180px;
    }



    .nav__title--h {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

 
  
    i {
        font-size: 2em;
        margin-right: 10px;
    }    

    .nav__container--title {
        font-size: 1.5em;
    }

    .main-container{
        font-size: 20px;
    }

    .widget_weather_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        background-color: white;
        gap: 0.5rem;
    }

    .weather {
        min-width: 200px;
        max-width: 350px;
        min-height: 118px;
    }

    .kek {
        min-width: 600px;
        min-height: 118px;
    }


    .footer-container > * {
        font-size: 20px;
    }

    .spotlight-3 {
        visibility: hidden;
    }
    

    h1, h2 {
        font-family: 'Staatliches', cursive;
    }
    
    h3, h4 {
        font-family: 'Amiri Quran', serif;
    
    }


}