@media (min-width: 992px) {
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Playfair+Display:wght@400;600;700&display=swap');

    .header{
        font-family: 'Abril Fatface', cursive;
    }

  

             
    .logo{
        height: 210px;
        width: 210px;
        position: relative;
        bottom: 10px;
    }

    nav{
        font-size: 24px;
       
    }

    a{
        color: black;
    }

    nav {
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  0 16px;
        background-color: #4B5842;
    }




    #sitepurpose,
    #targetaudience,
    #sitemap,
    #colorscheme,
    #typography,
    #wireframesketches {
        height: 400px;
        width: 100%;
        padding: 48px 0;
        background-color: #DADDD8;
    }

    #sitepurpose{
        height: calc(100vh - 130px);
    }

    #targetaudience{
        background-color: #C7D59F;
    }

    #colorscheme{
        background-color: #C7D59F;

    }
   

    #wireframesketches{
        background-color: #C7D59F;

    }

    #sitemap img{
        height: 250px;
        width: 500px;
    }

    #colorscheme img{
        height: 250px;
        width: 1200px;
    }

    table{
        border-collapse: collapse;
        width: 50%;
    }
   
    table, td, tr{
        border: 1px solid black;
        padding: 10px;
    }

    .row1{
        font-size: 40px;
        background-color: #4B5842;
        color: white;
    }

    .row2{
        font-size: 30px;
        background-color: #C7D59F;
        color: black;
    }

    .row3{
        font-size: 20px;
        background-color: #381d2a;
        color: white;
    }

    .para{
        font-size: 16px;
    }

    #typography{
        height: 600px;
    }



}